{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenidos al Sistema de Gestión Documental <strong>DIANA 1.0</strong></span></h1>
            </div>
        </div>
    </div>
{% endblock %}